body {
    font-family: 'Roboto' sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/*Navegador*/

.navbar {
    background-color: black;

}

/*Banner*/

.banner {
    background-image: url('../img/bn-black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner-title {
    text-align: end;
    font-size: 80px;
    padding-top: 200px;
    padding-right: 100px;
}

.banner-subtitle {
    text-align: end;
    padding-right: 100px;
}

/*About Me*/

.about-me {
    padding: 70px;
    display: flow-root;
    text-align: center;
}

.title-aboutme {
    padding: 40px;
}

.avatar {
    border-radius: 50%;
    width: 300px;
    border: 2px solid white;
    display: inline-block;
}

.about-text {
    text-align: justify;
    display: inline-block;
}

/*Skills*/

.skills {
    text-align: center;  
    padding: 70px;  
}

.title-skills {
    padding: 40px;
}

.skills-icon {
    padding: 100px;
}

.fa-brands {
    padding: 100px;
}

/*Hobbies*/

.hobbies {
    text-align: center;
    padding: 70px;
}

.card-group {
    padding-top: 50px;
}

.card {
    color: black;
    padding: 30px;
}

.img-hobbies {
    height: 350px;
    object-fit: cover;
    object-position: top;


}

/*Portafolio*/

.projects {
    text-align: center;
    display: flow-root;
    padding: 70px;
}

.project-title {
    padding: 40px;
}

.carousel {
    width: 50%;
    display: inline-block;
    padding-top: 50px;
}

.carousel-item {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.carousel-item img {
    width: 10%;
    height: 83%;
    object-fit: cover;
    object-position: left top;
}

.text {
    padding-left: 15px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: goldenrod;
}

/*Footer*/

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

footer a {
    color: black;
    padding-left: 10px;
}

.footer-title {
    padding-top: 130px;
}

footer ul {
    list-style: none;
    padding-top: 50px;
    margin: 10px 0;
    line-height: 30px;
    padding-left: 0;
}

footer ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
}

.fa-brands {
    padding: 0;
}

form {
    padding-top: 60px;
}

.copyright {
    color: grey;
}

